<!DOCTYPE html>
<html>
    <form method="POST" action="/checkout">

        <p>Input the item you want to purchase here:</p>
        <p>item: <input type="text" name="item"></p>
        <input type="submit" id="submit" value="submit">

    </form>
    <h2> <%=@session%> </h2>

</html>
